.lists {
    margin-top: -120px;
}
footer {
    margin: 50px 0;
    text-align: center;
}
footer a {
    color: #d41c1c;
    text-decoration: none;
}
.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #000000;
}